<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>We are learning express js</h1>
    <h3> 1 + 2 = <%= 1 + 2 %></h3>
    <h2> <%= "shubham ranjane".toUpperCase() %></h2>
    <p>Ejs is a Embeded javasript templete . we do not require the ejs package beacuse it is already required by the epxress() . here the views means templete . we cant send the file with res.send() . so to send the file we use res.render() it sends the file</p>
    <button>Express</button>
</body>
</html>